################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EXO Part 1/EXO01/obj/Debug/net5.0
