################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EXO Part 1/EXO01/obj/Debug/net5.0
/EXO Part 1/EXO02/obj/Debug/net5.0
/EXO Part 1/EXO03/obj/Debug/net5.0
/EXO Part 1/EXO04/obj/Debug/net5.0
/EXO Part 1/EXO05/obj/Debug/net5.0
/EXO Part 1/EXO06/obj/Debug/net5.0
/EXO Part 1/EXO07/obj/Debug/net5.0
/EXO Part 1/EXO08/obj/Debug/net5.0
/EXO Part 1/EXO09/obj/Debug/net5.0
/EXO Part 1/EXO09/.vs
/EXO Part 1/EXO10/obj/Debug/net5.0
/EXO Part 1/EXO11/obj/Debug/net5.0
/EXO Part 1/EXO12/obj/Debug/net5.0
/EXO Part 1/Sart/.vs/START ICI/FileContentIndex
/EXO Part 1/Sart/obj/Debug/net5.0
/Code Example/.vs
/Code Example/Exo UI.txt
/EXO Part 3/EXO10/obj/Debug/net6.0
/EXO Part 3/EXO10/obj
/EXO Part 3/EXO11/obj/Debug/net6.0
/EXO Part 3/EXO11/obj
/EXO Part 3/EXO12/obj
/EXO Part 3/Sart/.vs
/EXO Part 3/Sart/obj
/EXO Part 4/EXO01/obj
/EXO Part 4/EXO02/obj
/EXO Part 4/EXO03/obj
/EXO Part 4/EXO04/obj
/EXO Part 4/EXO05/obj
/EXO Part 4/EXO06/obj
/EXO Part 4/EXO07/obj
/EXO Part 4/EXO08/obj
/EXO Part 4/EXO09/obj
/EXO Part 4/EXO10/obj
/EXO Part 4/EXO11/obj
/EXO Part 4/EXO12/obj
/EXO Part 4/Sart/.idea/.idea.START ICI/.idea
/EXO Part 4/Sart/.vs
/EXO Part 4/Sart/bin/Debug/net6.0
/EXO Part 4/Sart/obj
